* {
  margin: 0;
  font-family: Lucida Grande, Helvetica, Tahoma, arial, sans-serif;
}

body {
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}
.wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-height: 100%;
}

.contentcontainer {
  display: flex;
  justify-content: center;
}

h1 {
  color: #1778F2;
  font-family: klavika, Lucida Grande, Tahoma, arial, sans-serif;
  margin-bottom: 7px;
  padding: 5px 0;
  font-size: 36px;
  font-weight: bolder;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  font-family: helvetica, Lucida Granda, Tahoma, arial, sans-serif;
  font-weight: normal;
  color: #1C1E21;
  margin-bottom: 3px;
}

h5 {
  color: #606770;
  font-size: 15px;
  font-weight: normal;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 8px;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 10vw 5vw;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vw 5vw;
}

.profilecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.profilepic {
  width: 160px;
  height: 160px;
  border-radius: 10px 10px 0 0;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 206px;
  width: 160px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #dddfe2;
  margin: 10px 7px 0 0;
}

.profile:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 0 #b5b5b5;
}

.profile h4 {
  padding-top: 13px;
  font-size: 18px;
  font-weight: normal;
  color: #4B4F56;
  font-family: helvetica, arial, sans-serif;
}

.newacctccontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 206px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #dddfe2;
  border-radius: 10px;
  margin: 10px 0 0 7px;
}

.add_account {
  width: 160px;
  height: 160px;
  background-color: #f5f6f7;
  border-radius: 10px 10px 0 0;
}

.fa-plus-circle {
  color: #1778F2;
  font-size: 3em;
  padding: 55px;
}

.newacctccontainer > h4 {
  padding-top: 13px;
  color: #1778F2;
  font-size: 18px;
  font-weight: normal;
}

.newacctccontainer:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 0 #b5b5b5;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px #bfbfbf;
  align-self: center;
}

.userbox {
  border: 2px solid #ebebeb;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.passwordbox {
  border: 2px solid #ebebeb;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.fa-eye-slash {
  color: #4A4A4A;
}

.fa-eye-slash:hover {
  background-color: #C9C9C9;
  box-shadow: 0 0 5px 0 #C9C9C9;
  border-radius: 10px;
}

input {
  border: none;
  outline: none;
  margin: 0;
  width: 340px;
  height: 40px;
  font-size: 16px;
}

::placeholder {
  opacity: 50%
}

.loginbtn {
  width: 350px;
  height: 45px;
  background-color: #1778F2;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 15px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.loginbtn:hover {
  background-color: #1573e6;
}

.createbtn {
  width: 230px;
  height: 45px;
  background-color: #46c22d;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  margin: 10px 0 20px 0;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
}

.createbtn:hover {
  background-color: #42B72A;
}

.logincontainer > a {
  align-self: center;
  font-size: 14px;
  color: #1778F2;
  margin: 5px;
}

hr {
  width: 80%;
  height: 2px;
  background-color: #EBEBEB;
  align-self: center;
  border: none;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.pagemessage {
  align-self: center;
  margin-top: 15px;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0;
}

.footercontainer {
  display: flex;
  flex-flow: column wrap;
  margin: 0 15vw 0 15vw;
  justify-content: flex-start;
}

.sitenav {
  display: flex;
  flex-flow: row wrap;
}

.languages {
  font-size: 12px;
  color: #8A8D91;
  padding-top: 10px
}

.languages a {
  font-size: 12px;
  color: #8A8D91;
  padding: 3px;
}

.sitenav a {
  font-size: 12px;
  color: #8A8D91;
  padding: 3px;
}

.footercontainer p {
  font-size: 12px;
  color: #8A8D91;
  padding: 3px;
  align-self: flex-start;
}
